.test {
  color: #fff;
  font-size: 50px;
}

body {
  background-color: blue;
  background-image: url('../img/sky.jpg')
}

#bg {
  background-image: url('../img/sky.jpg');
  height: 500px;
  border: 1px solid seashell;
}